@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background-image: url("https://images.unsplash.com/photo-1595907386001-b42da074dd8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80"), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.box {
	background-color: rgba(255, 255, 255, 0.3);
	font-family: 'Poppins', sans-serif;
	text-align: center;
	line-height: 1;
	backdrop-filter: blur(50px);
	width: 100vw;
	position: center;
}

.container {
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
}

p {
	color: black;
//background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
//-webkit-background-clip: text;
//-webkit-text-fill-color: transparent;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

/*
.logo-container {

    font-weight: 400;
    font-size: 180px;
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: 1100px;
}
*/